body{
    background-color: white;
    margin: auto;
    font-family: "Montserrat";
}
header{
    margin: 20px 100px;
}
/* nav css start */
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-button{
    height: 22px;
    padding-left: 0px;

}
.nav-button ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 100px;
    
}

.nav-button ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav-button ul li a:hover{
    color: #f48e28;
}

.nav-search-cart{
    display: flex;
    align-items: center;
    border: 1px #ADADAD;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-search{
    display: flex;
    align-items: center;
    
}

.nav-search svg{
    height: 26px;
    width: 25px;
    margin-right: 10px;
    padding-left: 20px;
}

.nav-search input{
    height: 20px;
    width: 160px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    color: black;
    border-right: 1px solid black;
    margin-right: 20px;
}

.nav-search input::placeholder {
    color: black;
    font-weight: bold;
    margin-top: -2px;
}

.nav-cart{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav-cart svg{
    height: 26px;
    width: 25px;
}
/* nav end */

/* banner start */

.banner{
    margin-top: 50px;
    display: flex;
}
/* banner left start */

.banner-left{
    padding-right: 0px;
    margin-right: 0px;
}
.bike-delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5DDC4;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 5px 0px;
}

.bd-text{
    color: #f38122;
    font-size: 13.7px;
    margin-right: 30px;
    padding-left: 20px; 
}

.bd-icon{
    width: 55px;
    height: 55px;
    background-color: #f9f2eb; 
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 5px;
}

.bd-icon img{
    width: 40px; 
    height: auto;
}

.banner-heading h1{
    font-size: 70px;
    width: 600px;
    height: 300px;
    text-transform: uppercase;
}

.banner-heading h1 span{
    color: #f38122;
}

.banner-desc{
    font-weight:600;
    font-size: 13.5px;
    margin-top: -20px;
}

.button-container {
    display: flex;
    gap: 50px; 
    margin-top: 50px;
}

.order-now-button {
    background: linear-gradient(45deg, #f99f3c, #f37022); 
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.order-now-button:hover {
    background: linear-gradient(45deg, #f37022, #f99f3c); 
}


.order-process {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.play-icon img {
    width: 100px; 
    height:auto;
}

.order-process-text {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px; 
}
/* banner left end */

/* banner middle start */
.banner-middle svg{
    padding:0px 0px ;
    margin-top: 240px;
    margin-left: -120px;
}

/* banner right start */

.menu-grid {

    display: grid;
    grid-column: inherit;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 50px;
    padding: 50px;
    
}

.menu-card {
    align-items: center;
    width: 180px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.food-image {
    width: 190px;
    height: 195px;
    margin-bottom: 0px;
    border-radius: 50%;
    margin-top: -70px;
    
}

.food-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    margin-top: -45px;
}

.food-description {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
}

.food-price {
    font-size: 16px;
    font-weight: bold;
}

.food-price span{
    color: red;
    
}

/* banner right end */
/* banner end */

/* info start */
.info-section {
    margin-top: 70px;
    height: 150px;
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
    width: 97%;

}

.info-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.info-icon{
    background-color: #F48E28;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
}

.info-icon svg{
    margin-top: 10px;
}

.info-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    color: #000000;
}

.info-subtitle {
    font-size: 12px;
    color: #000000;
    margin-top: 10px;

}

.divider {
    height: 140px;
    width: 1px;
    background-color: #B6B6B6;
    margin: 0 20px;
}
/* info end */

/* most popular start */
.most-popular-section {
    text-align: center;
    padding: 50px 0;
}

.section-title {
    color: #F48E28;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.section-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    padding: 0 50px;
}

.product-card {
    background-color: #fff;
    border-radius: 29px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.product-info {
    padding: 20px 20px;
    text-align: left;
}

.product-info h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 0px;
}

.rating-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    margin-top: -20px;
    gap: 30px;
}

.price{
    font-weight: bold;
    font-size: 15px;
}

.add-to-cart {
    width: 92px;
    height: 40px;
    background-color: #F48E28;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -30px;
    margin-bottom: 20px;
}
.add-to-cart button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 12px;
    color:#FFFFFF ;
    margin-top: 10px;
    margin-left: 7px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #e67e22;
}

.see-more-products {
    width: 240px;
    height: 70px;
    margin-top: 50px;
    background-color: #F48E28;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 15px 2px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.see-more-products svg{
    margin-bottom:-7px;
    margin-left: 20px;
}

.see-more-products:hover {
    background-color: #e67e22;
}
/* most popular end */

/* services start */

.services{
    width: 100%;
    margin-top: 150px;
}

.service-heading{
    align-items: center;
    text-align: center;
    gap: -10px;
}

.service-heading p{
    color:#F48E28;
}

.service-heading h1{
    margin-top: -10px;
}

.reasons{
    display: flex;
    justify-content: space-between;
}
.reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #B6B6B6;
    border-radius: 10%;
    height: 380px;
    width: 400px;
}

.reason:hover{
    transform: translateY(-10px);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    border: none;
}
.resson-img{
    background-color: #F5DDC4;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-top: 70px;
}

.resson-img svg{
    margin-top: 15px;
}

.reason h2{
    font-size: 20px;
    margin-top: 50px;
}

.reason p{
    font-size: 12px;
}

/* services end */

/* testimonial start */

.testimonial{
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.test-head-desc p{
    color: #F48E28;
}

.test-head-desc h1{
    margin-top: -15px;
}

.test-img{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;

}

.client-test-img{
    display: flex;
}
.point-icon{
    background-color: #F48E28;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-top: 160px;
    margin-left: -17px;
}

.point-icon svg{
    margin-top: 8px;
}

.clint-testi{
    width: 600px;
    height: 370px;
    border: 1px;
    box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-left: -17px;
}

.client-img-name{
    display: flex; 
    align-items: center;
    margin-top: 75px;
    margin-left: 150px;
}

.clint-name h3{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

.clint-name p{
    font-size: 15px;
    margin-top: -10px;
}
#client-testimon{
    font-weight: 550;
}
/* testimonial end */

/* Subscriber start */
.subscriber{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    border-radius: 35px;
    height: 325px;
    margin-top: 90px;
}

.sub-img{
    margin-top:-10px;
}
.sub-head-desc-form{
    color: white;
    margin-top: 30px;
}

.sub-form-button{
    background-color: white;
    border-radius: 10px;
}

.sub-form-button form input{
    margin-left: 20px;
    border-style: none;
    height: 50px;
    color: #B6B6B6;
    outline: none;
    width: 270px;
}

.sub-form-button form button{
    background-color: #F48E28;
    border-radius: 10px;
    border: none;
    height: 40px;
    color: white;
    width: 120px;
    margin-left: 45px;
}

/* subscriber end */

/* footer start */
.footer{
    margin-top: 80px;
    background-color: #FAFAFF;
    display: flex;
}

.footer-container {
    margin: 40px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.footer-logo p{
    color: #B6B6B6;
}

.social-icons svg{
    padding-right: 20px;
    
}

.footer-column h3 {
    color: #333;
    margin-bottom: 31px;
}

.footer-column ul {
    list-style-type: none;
    margin-left: -40px;
}

.footer-column ul li {
    color: #B6B6B6;
    margin-bottom: 10px;
}

.newsletter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.newsletter form {
align-items: center;    

}
.newsletter input{
    outline: none;
    border: none;
    background: transparent;
    border: 1px  #ddd;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 270px;
    height: 55px;
    background-color: #FFFFFF;
}

.newsletter input::placeholder{
    padding-left: 15px;
    color: #B6B6B6;
}

.newsletter button {
    background-color: #ff8c00;
    border: none;
    border-radius: 50%;
    margin-left: -50px;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* footer end */

